
	<div class ="container">
		<div class="row-fluid">
			<div class ="span12">
				<div id="splashTitleArea">
					<h1>&#8220;Everything you always wanted to know about</h1><h1 class="fqEmphasis">
					film finance</h1><h1 class="fqAsterisk">*</h1>
					</br>
					<h4 class="fqAsterisk">*</h4><h4>but were afraid to ask.&#8221;</h4>

					<h3>
					You’re an experienced filmmaker.  Or maybe you're just starting out.  You’re singularly dedicated to your project. But you want to learn more about the business side of things.


					You ask a studio executive.  He makes you feel stupid.
					You ask your lawyer.  She’s dismissive.
					You ask a banker.  Doesn’t even respond.

					We’ve been there.  And we can help.  We’re a group of film finance experts and technology geeks.  We’ve experienced your pain of getting a film project completed.  We know the risks and the heartache you face  We know how tough it is to get real information in a notoriously tight-lipped community. There’s a better way, and we think we’ve found it.
					</h3>






				</div>
			</div>
			<div class ="span6">	
				<div id="splashRegister">
					<h2 class="fqTypeface">filmquotra<a class="fqAsterisk">*</a></h2>
					<h5>Online software that teaches you the film business while creating your custom business plan.</h5>
					 <div id="registerbox">            
							<form class="form-vertical" id="registerform" method="POST" action="/register">
								<p>Sign Up</p>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend">
											<span class="add-on"><i class="icon-user"></i></span><input type="text" placeholder="Username" name="username" id="regUsername" autocomplete="Off" />
										</div>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend">
											<span class="add-on"><i class="icon-envelope"></i></span><input type="text" placeholder="Email" name="userid" id="regUserid" autocomplete="Off" />
										</div>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend">
											<span class="add-on"><i class="icon-lock"></i></span><input type="password" placeholder="Password" name="passwd" id="regPasswd" autocomplete="Off" />
										</div>
									</div>
						
								<div class="control-group">
									<span class="pull-left"><div class="btn btn-success"><%= link_to "Register", myslate_create_path %></div></span>
								</div>		
							</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
