
	<div class ="container">
		<div class="row-fluid">
			<div class ="span6">
				<div id="splashTitleArea">
					<h1>&#8220;Everything you always wanted to know about<span class="fqEmphasis">
					film finance</span><span class="fqAsterisk">*</span></h1>
					</br>
					<a class="butWereAfraid" href="../about"><span class="fqAsterisk">*</span>but were afraid to ask.&#8221;</a>
				</div>
			</div>
			<div class ="span6">	
				<div id="splashRegister">
					<h2 class="fqTypeface">filmquotra<a class="fqAsterisk">*</a></h2>
					<h5>Online software that teaches you the film business while creating your custom business plan. <a href="../about">Learn More.</a></h5>
					 <div id="registerbox">            
							<form class="form-vertical" id="registerform" method="POST" action="/register">
								<p>Sign Up</p>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend">
											<span class="add-on"><i class="icon-user"></i></span><input type="text" placeholder="Username" name="username" id="regUsername" autocomplete="Off" />
										</div>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend">
											<span class="add-on"><i class="icon-envelope"></i></span><input type="text" placeholder="Email" name="userid" id="regUserid" autocomplete="Off" />
										</div>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend">
											<span class="add-on"><i class="icon-lock"></i></span><input type="password" placeholder="Password" name="passwd" id="regPasswd" autocomplete="Off" />
										</div>
									</div>
						
								<div class="control-group">
									<span class="pull-left"><div class="btn btn-success"><%= link_to "Register", myslate_create_path %></div></span>
								</div>		
							</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
