<!DOCTYPE html>

<html lang="en">
<head>
<title>filmquotra</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://static.filmquotra.com/assets/res/css/filmquotra.min.css" type="text/css" rel="stylesheet" />
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="http://static.filmquotra.com/assets/res/js/lib.js"></script>
<script src="http://static.filmquotra.com/assets/res/js/filmquotra.min.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/sendRequest.js"></script>
</head>
<body>
	<div id="header">
			<h1><a href="/">filmquotra</a></h1>		
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="/profile/changepassword"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse"><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
		<a href="/myslate/ultimates" class="visible-phone"><i
					class="icon icon-th-list"></i>Ultimates</a>
			<ul>
				<li ><a href="/myslate/"><i class="icon icon-home"></i> <span>MySlate</span></a></li>
				<li ><a href="/myslate/create"><i class="icon icon-plus-sign"></i> <span>Create Project</span></a></li>
				<li ><a href="/comps"><i class="icon icon-question-sign"></i> <span>Comps</span></a></li>
				<li class="active"><a href="/"><i class="icon icon-info-sign"></i> <span>Ultimates</span></a></li>
				<li ><a href=""><i class="icon icon-info-sign"></i> <span>State Incentive</span></a></li>
				<li ><a href="/help"><i class="icon icon-question-sign"></i> <span>Help</span></a></li>
			</ul>
		</div>






<div id="content">
		<div id="content-header">
			<h1>Ultimates</h1>
			<div class="btn-group">
				
				<a id="globalAskBtn" class="btn btn-warning btn-large" title="Ask us anything!"><i class="icon-question-sign icon-white"></i> Ask us anything!</a>
			</div>
		</div>
		
		<div id="breadcrumb">
				<a href="/" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a>
				<a href="/ultimates" class="current">Ultimates</a>
						</div>
		<div class="container-fluid">
			<div class="row-fluid">
						<div class="span12">
							<style>
.negative {
	color:red;
}
.mtitle {
	font-weight:bold;
}

tr .sum {
	border-top:3px solid #DDDDDD;
}
.bar p {
    color: white;
    font-size: 12px;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}


.alert-grey {
    background-color: #ededed;
    border-color: #d9d9d9;
    color: #242424;
}
.normal {
    color: #242424;
    text-decoration: none;
}
tr .numbershow {
    text-align:right;
}
</style>
<h4>
	<a href="#" rel="quotrabox-collapse" data-toggle="collapse" data-target="#test1_target" data-key="TEST1">
		An Ultimate is a projection of all the revenues and costs that your film will generate forever (hence, "ultimate").  It is a theoretical and general view of any project, but should be your starting point before delving deeper into finance and accounting.  The standard format for presenting the Ultimate for your film project is what is known in the accounting world as a "P&L", or profit and loss statement.  Yes, it's a lot of jargon, but understand just the basics and you'll look really, really smart in front of your potential investor.  For detailed descriptions of each line item, scroll below this financial table.<span class="asterisk">*</span>
	</a>
</h4>

<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-th"></i>
		</span>
		<h5>Static table</h5>
	</div>
	<div class="widget-content nopadding">
	<article>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Summary Projections</th>
					<th>OUR DATA ESTIMATE</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="mtitle">Worldwide Box Office</td>
					<td class="numbershow">$353,816,701</td>
				</tr>
				
				<tr>
					<td class="mtitle sum">Worldwide Revenue</td>
					<td class="sum"><!--  --></td>
				</tr>
				<tr>
					<td> - Theatrical &nbsp; Non-theatrical</td>
					<td class="numbershow">$180,446,517</td>
				</tr>
				<tr>
					<td> - DVD (Gross)</td>
					<td class="numbershow">$275,977,026</td>
				</tr>
				<tr>
					<td> - Pay TV</td>
					<td class="numbershow">$45,996,171</td>
				</tr>
				<tr>
					<td> - Free TV</td>
					<td class="numbershow">$56,610,672</td>
				</tr>
				<tr>
					<td> - New Media</td>
					<td class="numbershow">$17,690,835</td>
				</tr>
				<tr>
					<td class="mtitle sum">Worldwide Costs</td>
					<td class="sum"><!--  --></td>
				</tr>
				<tr>
					<td> - Budget</td>
					<td class="numbershow negative">($200,000,000)</td>
				</tr>
				<tr>
					<td> - P&nbsp;A</td>
					<td class="numbershow negative">($123,835,845)</td>
				</tr>
				<tr>
					<td> - Other Costs</td>
					<td class="numbershow negative">($109,683,177)</td>
				</tr>
				<tr>
					<td class="mtitle sum">Worldwide Profit</td>
					<td class="numbershow sum">$143,202,199</td>
					   </tr>
			</tbody>
		</table>
	</article>
	</div>
</div>
</div>
					</div>
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon">
				<i class="icon-th"></i>
			</span>
			<h5>Descriptions</h5>
		</div>
										<div class="widget-content nopadding">
													<div class="table table-bordered table-striped" style="background-color: white">
														<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseUltimate">
															<span class="fqAsterisk">*</span>Ultimates 101
														</a>
													</div>
							
											<div class="quotraBox">
												
													<div id="collapseUltimate" class="accordion-body collapse">
														<div class="accordion-inner">
															<div class="row-fluid">
																<div class="span8">
																	<ul>
																		<li class="asteriskList">For now, your project title will not affect any of the financial metrics, and is for identification purposes only.  Don't worry if you don't have the perfect title yet.  These things can and often will change throughout development and production.</li>
																	</ul>
																</div>
																<div class="span4">
																	<span class="fqAsterisk">*</span>Fun Fact:  The working title for <i>Pulp Fiction (1994)</i> was "Black Mask"&#8212;named after the seminal hardboiled crime fiction magazine.
																</div>
															</div><!--row-fluid-->
															<div class="row-fluid linkLabel">
																	<div class="span4">
																		<a href="../help#projectTitle">Learn more.</a>
																	</div>
																	<div class="span4">
																		<a href="#">Like.</a><span class="likeCount">+10</span>
																	</div>
																	<div class="span4">
																		<input class="linkLabel" type="text" value="Comment" a href="#quotraBoxModalUltimate" data-toggle="modal" />
																	</div>												
															</div><!--row-fluid-->

												</div><!--accordion-inner end-->
											</div><!--collapse end-->

										</div> <!--quotraBox end-->
							
									<!-- Modal start-->
									<div id="quotraBoxModalUltimate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												<h2 class="fqTypeface">Thanks...</h2>
										</div>
										<h5 div class="modal-body">
											<ul>
												<li>We are reading your comment and question and will address it as soon as possible!
											</ul>
										</h5>
										<div class="modal-footer" style="text-align:center">
											<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
											</div>
										</div>	
									<!-- Modal end -->				
								</div>
				<!--quotraBoxModule end-->

	</div>

				<div class="row-fluid">
				<div id="footer" class="span12"></div>
			</div>
		</div>
	</div>
	<div id="globalAskModal" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>Ask us anything!</h3>
	</div>
	<div class="modal-body">
	<form class="form-horizontal" method="post" action=""
		id="sendRequestForm" novalidate="novalidate">
		<div class="control-group">
			<div class="controls no-control">
				<input type="text" class="full-input" name="sendRequestTitle" id="sendRequestTitle" placeholder="Subject" value="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls no-control">
				<textarea class="ask-box" class="full-input" style="width:95%;" id="sendRequestContents" placeholder="Contents"
					name="sendRequestContents"></textarea>
			</div>
		</div>
		<input type="hidden" name="sendRequestUrl" id="sendRequestUrl"
			value='/ultimates/my/t6452517' />
	</form>
	</div>
	<div class="modal-footer">
		<span id="sendRequestWrap"><button class="btn btn-info" id="sendRequestBtn">Send</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a></span> 
		<span class="pull-right" style="display: none" id="sendRequestLoadingWrap"><img	src="http://static.filmquotra.com/assets/res/img/loader.gif" /></span> 
		
	</div>
</div><div id="footer">
		<div class="footer-inner">
			<div class="container">
				<div class="row">
					<div class="span12">
						&copy; 2012 <a href="http://filmquotra.com">filmquotra</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32128189-1' ]);
		_gaq.push([ '_setDomainName', 'filmquotra.com' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>