<!DOCTYPE html>

<html lang="en">
<head>
<title>filmquotra</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://static.filmquotra.com/assets/res/css/filmquotra.min.css" type="text/css" rel="stylesheet" />
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="http://static.filmquotra.com/assets/res/js/lib.js"></script>
<script src="http://static.filmquotra.com/assets/res/js/filmquotra.min.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/createProject.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/sendRequest.js"></script>
</head>
<body>
	<div id="header">
			<h1><a href="/">filmquotra</a></h1>		
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="/profile/changepassword"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse"><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
		<a href="/myslate/create" class="visible-phone"><i
					class="icon icon-th-list"></i>Create Project</a>
			<ul>
				<li ><a href="/myslate/"><i class="icon icon-home"></i> <span>MySlate</span></a></li>
				<li class="active"><a href="/myslate/create"><i class="icon icon-plus-sign"></i> <span>Create Project</span></a></li>
				<li ><a href="/comps"><i class="icon icon-question-sign"></i> <span>Comps</span></a></li>
				<li ><a href="/"><i class="icon icon-info-sign"></i> <span>Ultimates</span></a></li>
				<li ><a href=""><i class="icon icon-info-sign"></i> <span>State Incentive</span></a></li>
				<li ><a href="/help"><i class="icon icon-question-sign"></i> <span>Help</span></a></li>
			</ul>
		</div>






<div id="content">
		<div id="content-header">
			<h1>Let's get started!</h1>
			<div class="btn-group">
				
				<a id="globalAskBtn" class="btn btn-warning btn-large" title="Ask us anything!"><i class="icon-question-sign icon-white"></i> Ask us anything!</a>
			</div>
		</div>
		
		<div id="breadcrumb">
				<a href="/" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a>
				<a href="/myslate">Project</a>
						<a href="/myslate/create" class="current">Create</a>
						</div>
		<div class="container-fluid">
			<div class="row-fluid">
						<div class="span12">
							<div class="widget-box">
	<div class="widget-title">
		<h5>Name your project. All great films start off with a working title. <span class="asterisk">*</span> More...</h5>
	</div>
	<div class="widget-content nopadding">
		<form class="form-horizontal" method="post" action="/myslate/create" id="createForm">
			<div class="control-group">
				<label class="control-label"><a rel="quotrabox" data-key="TEST">Project Title</a> <span class="asterisk">*</span> </label>
				<div class="controls">
					<input type="text" name="title" id="title" value="" />
				</div>
			</div>
			<div class="form-actions">
				<button class="btn" style="width: 160px; height: 40px"
					id="createBtn">Create</button>
			</div>
		</form>
	</div>
</div>

    </div>
					</div>
				<div class="row-fluid">
				<div id="footer" class="span12"></div>
			</div>
		</div>
	</div>
	<div id="globalAskModal" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>Ask us anything!</h3>
	</div>
	<div class="modal-body">
	<form class="form-horizontal" method="post" action=""
		id="sendRequestForm" novalidate="novalidate">
		<div class="control-group">
			<div class="controls no-control">
				<input type="text" class="full-input" name="sendRequestTitle" id="sendRequestTitle" placeholder="Subject" value="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls no-control">
				<textarea class="ask-box" class="full-input" style="width:95%;" id="sendRequestContents" placeholder="Contents"
					name="sendRequestContents"></textarea>
			</div>
		</div>
		<input type="hidden" name="sendRequestUrl" id="sendRequestUrl"
			value='/myslate/create' />
	</form>
	</div>
	<div class="modal-footer">
		<span id="sendRequestWrap"><button class="btn btn-info" id="sendRequestBtn">Send</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a></span> 
		<span class="pull-right" style="display: none" id="sendRequestLoadingWrap"><img	src="http://static.filmquotra.com/assets/res/img/loader.gif" /></span> 
		
	</div>
</div><div id="footer">
		<div class="footer-inner">
			<div class="container">
				<div class="row">
					<div class="span12">
						&copy; 2012 <a href="http://filmquotra.com">filmquotra</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32128189-1' ]);
		_gaq.push([ '_setDomainName', 'filmquotra.com' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>