<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://static.filmquotra.com/assets/res/css/filmquotra.min.css" type="text/css" rel="stylesheet"/>

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="http://static.filmquotra.com/assets/res/js/lib.js"></script>
<script src="http://static.filmquotra.com/assets/res/js/filmquotra.min.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/validation.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/createProject.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/send_request.js"></script>
</head>
<body>

<a href="#registerModal" role="button" class="btn" data-toggle="modal">Modal</a>
	 
<!-- Modal begin-->
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h2 class="fqTypeface">Welcome! A few words before we get started...</h2>
	</div>
	<h5 div class="modal-body">
		<ul>
			<li>We're in beta mode, excuse the construction!
			<li>Beginners: Click on the filmquotra asterisk <span class="fqAsterisk" font-size="4">*</span> for help.
			<li>Professionals: Build some karma by adding your "2 cents"!
		</ul>
	</h5>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Enough already, let's get started!</button>
		</div>
	</div>	
<!-- Modal end -->

	<div id="header">
		<h1><a href="/">filmquotra</a></h1>		
	</div>
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav btn-group">
			
			<li class="btn btn-inverse"><a title="" href="/profile/changepassword"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
			<li class="btn btn-inverse"><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>
</div>
<!--sidebar-->			            
<div id="sidebar">
			<a href="/myslate/create" class="visible-phone"><i
				class="icon icon-th-list"></i>Create Project</a>
		<ul>
			<li ><a href="/myslate/"><i class="icon icon-home"></i> <span>MySlate</span></a></li>
			<li class="active"><a href="/myslate/create"><i class="icon icon-home"></i> <span>Create Project</span></a></li>
			<li ><a href=""><i class="icon icon-home"></i> <span>Comps</span></a></li>
			<li ><a href=""><i class="icon icon-home"></i> <span>Ultimates</span></a></li>
			<li ><a href="/help"><i class="icon-question-sign"></i> <span>Help</span></a></li>
		</ul>
</div>
   
<div id="content">   	
	<!--collapse start-->
	<div id="content-header">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCreateHeader">	
			<h1 class="control-label">Let's get started!<span class="fqAsterisk">*</span></h1>
		</a>
	</div>
	<div id="collapseCreateHeader" class="accordion-body collapse">
		<div class="accordion-inner">
					<p class="fqTypeface">
						 <a class="fqAsterisk">*</a>filmquotra walks you through creating a business plan for your film project.  Along the way, we offer deeper, technical explanations when necessary, along with helpful tips from industry experts.

					</p>
		</div>
	</div>
	<!--collapse end-->

	<div id="breadcrumb">
		<a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		
		<a href="/myslate">Project</a>
		
		<a href="/myslate/create" class="current">Create</a>
	</div>

<!--main section-->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<div class="widget-box">
					<div class="widget-title">
						<h5>Name your project.  All great films start off with a working title.<a href="/myslate"><a class="fqAsterisk">*</a>More...</a></h5>
					</div>
					<div class="widget-content nopadding">
						<form class="form-horizontal" method="post" action="/myslate/create"
							id="createForm" novalidate="novalidate">
							<div class="control-group">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseProjectTitle">
									<label class="control-label">Project Title<span class="fqAsterisk">*</span> </label>
								</a>
								<div class="controls">
									<input type="text" name="title" id="title" value="" />
								</div>
							</div>
<!--quotraBox start-->
							<div class="quotraBox">
								<div id="collapseProjectTitle" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="row-fluid">
											<div class="span8">
												<ul>
													<li class="asteriskList">For now, your project title will not affect any of the financial metrics, and is for identification purposes only.  Don't worry if you don't have the perfect title yet.  These things can and often will change throughout development and production.</li>
												</ul>
											</div>
											<div class="span4">
												<span class="fqAsterisk">*</span>Fun Fact:  The working title for <i>Pulp Fiction (1994)</i> was "Black Mask"&#8212;named after the seminal hardboiled crime fiction magazine.
											</div>
										</div>
										<div class="row-fluid linkLabel">
											<div class="span4">
												<a href="../help#projectTitle">Learn more.</a>
											</div>
											<div class="span4">
												<a href="../help#projectTitle">Like.</a><span class="likeCount">+10</span>
											</div>
											<div class="span4">
												<input class="linkLabel" type="text" name="title" id="title" value="Comment" a href="#quotraBoxModal" data-toggle="modal" />
												
											</div>
										</div>
									</div>
							</div>
<!--quotraBox end-->

<!-- Modal begin-->
<div id="quotraBoxModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h2 class="fqTypeface">Thanks!</h2>
	</div>
	<h5 div class="modal-body">
		<ul>
			<li>We are reading your comment and question and will address it as soon as possible.
		</ul>
	</h5>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
<!-- Modal end -->

							<!--create button-->
							<div class="form-actions">
								<div class="btn btn-success" style="width: 160px; height: 40px">
									<a href="/myslate/create2">Create</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	<!--ask a question sidebar-->
		<div class="span3">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class=" icon-question-sign"></i>
					</span>
					<h5>Ask us anything!</h5>
				</div>
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action=""
						id="sendRequestForm" novalidate="novalidate">
						<div class="control-group">
							<!-- <label class="control-label" for="sendRequestTitle">Title</label> -->
							<div class="controls" style="margin-left:35px">
								<input type="text" name="sendRequestTitle" id="sendRequestTitle" value="" />
							</div>
						</div>
						<div class="control-group">
							<!-- <label class="control-label" for="sendRequestContents">Contents</label> -->
							<div class="controls" style="margin-left:35px">
								<textarea rows="" cols="" id="sendRequestContents" name="sendRequestContents"></textarea>
							</div>
						</div>

						<div class="form-actions">
							
							<span id="sendRequestWrap" class="pull-right"><button class="btn btn-info" id="sendRequestBtn">Send</button></span>
							<span class="pull-right" style="display:none" id="sendRequestLoadingWrap"><img src="http://static.filmquotra.com/assets/res/img/loader.gif" /></span>
						</div>
						<input type="hidden" name="sendRequestUrl" id="sendRequestUrl" value='/myslate/create' />
						
					</form>
				</div>
			</div>


					</div>
				</div>	      
				
	<!--footer-->			
				
				<div class="row-fluid">
					<div id="footer" class="span12">
					</div>
				</div>
			</div>
			
			

			</div>
			<div class="footer">
				<div class="footer-inner">
					<div class="container">
						<div class="row">
							<div class="span12">
								&copy; 2012 <a href="http://filmquotra.com">filmquotra</a>.
							</div>
						</div>
					</div>
				</div>
			</div>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push([ '_setAccount', 'UA-32128189-1' ]);
			_gaq.push([ '_setDomainName', 'filmquotra.com' ]);
			_gaq.push([ '_trackPageview' ]);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl'
						: 'http://www')
						+ '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>



</body>
</html>