<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://static.filmquotra.com/assets/res/css/filmquotra.min.css" type="text/css" rel="stylesheet"/>

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="http://static.filmquotra.com/assets/res/js/lib.js"></script>
<script src="http://static.filmquotra.com/assets/res/js/filmquotra.min.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/validation.js"></script>
<script src="http://external.filmquotra.com/assets/res/js/createProject.js"></script>

<script src="http://external.filmquotra.com/assets/res/js/send_request.js"></script>
</head>
<body>

          <i class="dogear"></i>
      
          
          <div class="content">
      
            
            <div class="stream-item-header">
              <small class="time">
            <a href="/ThatLawyerDude/status/265307749120897024" class="tweet-timestamp js-permalink js-nav" title="8:21 PM - 4 Nov 12" ><span class="_timestamp js-short-timestamp js-relative-timestamp" data-time="1352089271" data-long-form="true">9m</span></a>
        </small>
          <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/ThatLawyerDude" data-user-id="15121418">
            <img class="avatar js-action-profile-avatar" src="https://twimg0-a.akamaihd.net/profile_images/55466177/8v31y4i1_normal.jpg" alt="Tony Colleluori">
            <strong class="fullname js-action-profile-name show-popup-with-id">Tony Colleluori</strong>
            <span>&rlm;</span><span class="username js-action-profile-name"><s>@</s><b>ThatLawyerDude</b></span>
          </a>
              </div>
      
            
              <p class="js-tweet-text">
                    If you&#39;re a <a href="/search?q=%23lawyer&amp;src=hash" class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" ><s>#</s><b>lawyer</b></a> &amp;can provide free legal services to <a href="/search?q=%23Sandy&amp;src=hash" class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" ><s>#</s><b>Sandy</b></a> victims call NYS Bar Association to volunteer. We NEED U, cause THEY NEED US
          
        </p>
      
            
            <div class="stream-item-footer">
              
              
        
        <div class="context">
                  <span class="with-icn">
                    <i class="badge-retweeted"></i>
                    <span class="js-retweet-text">Retweeted by <a class="pretty-link js-user-profile-link" href="/Dealfatigue" data-user-id="5406692"><b>Peter Kaufman</b></a></span>
                  </span>
        </div>

                
                <a class="details with-icn js-details" href="/ThatLawyerDude/status/265307749120897024">
                  <span class="details-icon js-icon-container">
                  </span>
                  <b>
                    <span class="expand-stream-item js-view-details">
                        
                          <span class="expand-action-wrapper">
                            Expand
                          </span>
                    </span>
                    <span class="collapse-stream-item js-hide-details">
                        Collapse
                    </span>
                  </b>
                </a>
      
              
              
        
        <ul class="tweet-actions js-actions">
          <li class="action-reply-container">
            <a class="with-icn js-action-reply" data-modal="tweet-reply" href="#" title="Reply">
              <i class="sm-reply"></i>
              <b>Reply</b>
            </a>
          </li>
          <li class="action-rt-container">
            <a class="with-icn js-toggle-rt " data-modal="tweet-retweet" href="#">
              <i class="sm-rt"></i>
              
              <b><span class="undo-retweet" title="Undo retweet">Retweeted</span><span class="retweet" title="Retweet">Retweet</span></b>
            </a>
          </li>
          <li class="action-del-container">
            <a class="with-icn js-action-del" href="#" title="Delete">
              <i class="sm-trash"></i>
              <b>Delete</b>
            </a>
          </li>
          <li class="action-fav-container">
            <a class="with-icn js-toggle-fav" href="#">
              <i class="sm-fav"></i>
                <b><span class="unfavorite" title="Undo favorite">Favorited</span><span class="favorite" title="Favorite">Favorite</span></b>
            </a>
          </li>
        
          
        </ul>      </div>
      
            
            <div class="expanded-content js-tweet-details-dropdown">
      </div>
          </div>
        </div>
      
        </div>
  <div class="js-stream-item stream-item stream-item expanding-stream-item" data-item-id="265308016637771776" data-item-type="tweet" id="stream-item-tweet-265308016637771776">
      
      
      
        
      
        <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-hover js-profile-popup-actionable js-original-tweet  







</body>
</html>