<!DOCTYPE html>

<html lang="en">
<head>
<title>filmquotra</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="http://static.filmquotra.com/assets/res/css/filmquotra.min.css" type="text/css" rel="stylesheet" />
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script src="http://static.filmquotra.com/assets/res/js/lib.js"></script>
<script src="http://static.filmquotra.com/assets/res/js/filmquotra.min.js"></script>
<link href="http://external.filmquotra.com/assets//res/css/myslate.css" type="text/css" rel="stylesheet">
<script src="http://external.filmquotra.com/assets/res/js/sendRequest.js"></script>
</head>
<body>
	<div id="header">
			<h1><a href="/">filmquotra</a></h1>		
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="/profile/changepassword"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
                <li class="btn btn-inverse"><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
		<a href="/myslate" class="visible-phone"><i
					class="icon icon-th-list"></i>MySlate</a>
			<ul>
				<li class="active"><a href="/myslate/"><i class="icon icon-home"></i> <span>MySlate</span></a></li>
				<li ><a href="/myslate/create"><i class="icon icon-plus-sign"></i> <span>Create Project</span></a></li>
				<li ><a href="/comps"><i class="icon icon-question-sign"></i> <span>Comps</span></a></li>
				<li ><a href="/"><i class="icon icon-info-sign"></i> <span>Ultimates</span></a></li>
				<li ><a href=""><i class="icon icon-info-sign"></i> <span>State Incentive</span></a></li>
				<li ><a href="/help"><i class="icon icon-question-sign"></i> <span>Help</span></a></li>
			</ul>
		</div>






<div id="content">
		<div id="content-header">
			<h1>two</h1>
			<div class="btn-group">
				
				<a id="globalAskBtn" class="btn btn-warning btn-large" title="Ask us anything!"><i class="icon-question-sign icon-white"></i> Ask us anything!</a>
			</div>
		</div>
		
		<div id="breadcrumb">
				<a href="/" title="Go to Home" class="tip-bottom"><i
					class="icon-home"></i> Home</a>
				<a href="/myslate">Project</a>
						<a href="/myslate/s0139888" class="current">two</a>
						</div>
		<div class="container-fluid">
			<div class="row-fluid">
						<div class="span12">
							<style>
.test {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    margin: 0 0 10px;
    padding: 13px 20px 10px;
    position: relative;
}
.test strong {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
.test small {
    color: #888888;
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}
divider {
    border-color: #DDDDDD;
    border-style: dashed;
    border-width: 1px 0 0;
    min-height: 0;
    padding: 0;
}
</style>

<div class="widget-box widget-plain">
	<div class="widget-content center">

		<h4>
		<a href="#" rel="quotrabox-collapse" data-toggle="collapse" data-target="#test1_target" data-key="TEST1">
    		This is your film control panel.  Now that you've created a specific project, you can work on different parts of your business plan and learn about the business, one step at a time.  In our next version, we will have (a) film experts join our system and evaluate your modules for a fee; (b) and, with your permission, allow other users to view and like your projects.  For now, get to know our system, because there will be lots of learning headed your way!<span class="asterisk">*</span>
		</a>
		</h4>
		<div id="test1_target" class="collapse quotra-loading-collapse">
		<p>Loading..</p>
		</div>
	</div>
</div>
<div class="widget-box">
	<div class="widget-title"><h5></h5></div>
	<div class="widget-content">

		<div class="row-fluid">
			<div class="span8"><h3 id="content-header">Module</h3></div>
			<div class="span2"><h3 id="content-header">Expert Badges</h3></div>
			<div class="span2"><h3 id="content-header">User Likes</h3></div>

		<div class="row-fluid">
			<div class="span8 test"><i class="icon-arrow-right"></i> <strong>Outline</strong> <small>Coming soon!</small></div>
			<div class="span2 test"><i class="icon-star-empty"></i> <strong>10</strong></div>
			<div class="span2 test"><i class="icon-star-empty"></i> <strong>10</strong></div>
		</div>
		<div class="row-fluid">
			<div class="test span8"><i class="icon-arrow-right"></i> <strong>Treatment</strong> <small>Coming soon!</small></div>
			<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
		</div>
		<div class="row-fluid">
			<div class="test span8"><i class="icon-arrow-right"></i> <strong>Script</strong> <small>Coming soon!</small></div>
			<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
		</div>
		<div class="row-fluid">
			<div class="test span8"><i class="icon-arrow-right"></i> <strong>Cast</strong> <small>Coming soon!</small></div>
			<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
		</div>
			
			
			<div class="row-fluid">
						<div class="test span8">
							<a href="/myslate/s0139888/comps/talent"><i class="icon-arrow-right"></i> <strong>Evaluate Cast</strong> <small>create comps</small></a>
						</div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
					</div>
					<div class="row-fluid">
						<div class="test span8">
							<i class="icon-arrow-right"></i> <strong>Find Comparables ("Comps")</strong> <small>Coming soon!</small>
						</div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
					</div>
					<div class="row-fluid">
						<div class="test span8">
							<a href="/myslate/s0139888/comps/direct"><i class="icon-arrow-right"></i> <strong>Run Comparables ("Comps")</strong> <small>create comps</small></a>
						</div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
					</div>
			    <div class="row-fluid">
						<div class="test span8">
							<i class="icon-arrow-right"></i> <strong>Ultimates</strong> <small>create comps first</small>
						</div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
						<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
					</div>
				    <div class="row-fluid">
				<div class="test span8"><i class="icon-arrow-right"></i> <strong>Advances and Minimum Guarantees</strong> <small>Coming soon!</small></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			</div>
			<div class="row-fluid">
				<div class="test span8"><i class="icon-arrow-right"></i> <strong>Budget</strong> <small>Coming soon!</small></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			</div>
			<div class="row-fluid">
				<div class="test span8"><i class="icon-arrow-right"></i> <strong>State Incentives</strong> <small>Coming soon!</small></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			</div>
			<div class="row-fluid">
				<div class="test span8"><i class="icon-arrow-right"></i> <strong>Schedule</strong> <small>Coming soon!</small></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			</div>
			<div class="row-fluid">
				<div class="test span8"><i class="icon-arrow-right"></i> <strong>Sales estimates</strong> <small>Coming soon!</small></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
				<div class="test span2"><i class="icon-star-empty"></i> <strong>10</strong></div>
			</div>
								
	</div>
</div>	</div>
					</div>
				<div class="row-fluid">
				<div id="footer" class="span12"></div>
			</div>
		</div>
	</div>
	<div id="globalAskModal" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button">×</button>
		<h3>Ask us anything!</h3>
	</div>
	<div class="modal-body">
	<form class="form-horizontal" method="post" action=""
		id="sendRequestForm" novalidate="novalidate">
		<div class="control-group">
			<div class="controls no-control">
				<input type="text" class="full-input" name="sendRequestTitle" id="sendRequestTitle" placeholder="Subject" value="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls no-control">
				<textarea class="ask-box" class="full-input" style="width:95%;" id="sendRequestContents" placeholder="Contents"
					name="sendRequestContents"></textarea>
			</div>
		</div>
		<input type="hidden" name="sendRequestUrl" id="sendRequestUrl"
			value='/myslate/s0139888' />
	</form>
	</div>
	<div class="modal-footer">
		<span id="sendRequestWrap"><button class="btn btn-info" id="sendRequestBtn">Send</button> <a data-dismiss="modal" class="btn" href="#">Cancel</a></span> 
		<span class="pull-right" style="display: none" id="sendRequestLoadingWrap"><img	src="http://static.filmquotra.com/assets/res/img/loader.gif" /></span> 
		
	</div>
</div><div id="footer">
		<div class="footer-inner">
			<div class="container">
				<div class="row">
					<div class="span12">
						&copy; 2012 <a href="http://filmquotra.com">filmquotra</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-32128189-1' ]);
		_gaq.push([ '_setDomainName', 'filmquotra.com' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>