@import "bootstrap";
@import "bootstrap-responsive";

@font-face {
	font-family: 'Alegreya';    
	src: url(font-path('Alegreya-Regular-webfont.eot'));
	src: url(font-path('Alegreya-Regular-webfont.eot?#iefix') + "?iefix") format('embedded-opentype'), 
		url(font-path('Alegreya-Regular-webfont.woff')) format('woff'), 
		url(font-path('Alegreya-Regular-webfont.ttf')) format('truetype'), 
		url(font-path('Alegreya-Regular-webfont.svg')) format('svg')
	}

@font-face {
	font-family: 'windsor1';    
	src: url(font-path('windsor1-webfont.eot'));
	src: url(font-path('windsor1-webfont.eot?#iefix') + "?iefix") format('embedded-opentype'), 
		url(font-path('windsor1-webfont.woff')) format('woff'), 
		url(font-path('windsor1-webfont.ttf')) format('truetype'), 
		url(font-path('windsor1-webfont.svg')) format('svg')
	}


.control-label {
	border-bottom: 1px dotted #0088cc;
	}

.comingSoon {
	color: gray;
	
	}


.accordion-inner {
	    background-color: white;
	    box-shadow: 0px 0px 1px rgb(255, 255, 255);
	/*    border-top: 1px solid rgb(214, 214, 214);	*/
	/*    border-bottom: 1px solid rgb(214, 214, 214); */
	    padding-left: 10px;
	}

.quotraBox span4 {
		text-align: center;
		}

.fqTypeface {
	font-family: windsor1;
	-webkit-font-smoothing: always;
	font-smooth:always;
	}

body#splashPage {
	padding-top: 5%;
	background-color: black;
	}

body#product {
	padding-top: 60px;
	padding-bottom: 40px;

	}


.fqEmphasis {
	color:red;
	}

.fqAsterisk {
	font-family: windsor1, "Times New Roman", Serif;
	color:rgb(0, 176, 240);
	font-size: 125%;
	display: inline;
	vertical-align: -25%;
	}

.form-actions {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: inherit;
    border-top: 0px solid rgb(229, 229, 229);
    
    }



#splashTitleArea {
	padding: 1.5em;
	text-align: center;
	color: white;
	} 

#splashTitleArea {
	font-family: windsor1, "Times New Roman", Serif;
	line-height: 1em;
	display: inline;
	letter-spacing: -.02em;
	}
#splashTitleArea {
	a:link {color:white;
		border-bottom: 1px dotted rgb(214, 214, 214);
		}
	a:visited {color:grey;}
	a:hover {color:rgb(0, 176, 240);
		}
	a:active {color:#0000FF;}
	}

#splashTitleArea h1 {
	font-size: 5em;
	line-height: 1em;
	} 

#splashTitleArea h3 {
	font-size: 3em;
	} 

#splashTitleArea h4 {
	font-size: 2em;
	} 


.butWereAfraid {
	font-family: Arial,Verdana,Sans-serif;
	font-size: 2em;
	line-height: 1em;
	display: inline;
	text-transform:uppercase;
	
	} 

#splashRegister {
	text-align: center;
	margin: 10%;
	border-radius: 5%;
	padding: 20px;
	background-color: white;
	color: black;
	}



