@import "bootstrap";
@import "bootstrap-responsive";



body#splashPage {
	padding-top: 5%;
	background-color: #FACC2E;
	}

body#product {
	padding-top: 60px;
	padding-bottom: 40px;

	}

	
.container {
	
	}

.fqEmphasis {
	color:red;
	}

.fqAsterisk {
	color:white;
	}

.form-actions {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: inherit;
    border-top: 0px solid rgb(229, 229, 229);
    
    }

#splashTitleArea {
	padding: 1.5em;
	text-align: center;
	} 

#splashTitleArea h1 {
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 5em;
	line-height: 1em;
	display: inline;
	letter-spacing: -.05em;
	} 

#splashTitleArea h4 {
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 2em;
	line-height: 1em;
	display: inline;
	font-variant:small-caps;
	
	} 

#splashRegister {
	margin: 10%;
	border-radius: 5%;
	padding: 20px;
	background-color: rgb(27, 27, 27);
	color: #FFFFFF;
	}



