@import "bootstrap";
@import "bootstrap-responsive";

@font-face {
	font-family: 'Alegreya';    
	src: url(font-path('Alegreya-Regular-webfont.eot'));
	src: url(font-path('Alegreya-Regular-webfont.eot?#iefix') + "?iefix") format('embedded-opentype'), 
		url(font-path('Alegreya-Regular-webfont.woff')) format('woff'), 
		url(font-path('Alegreya-Regular-webfont.ttf')) format('truetype'), 
		url(font-path('Alegreya-Regular-webfont.svg')) format('svg')
	}

@font-face {
	font-family: 'windsor1';    
	src: url(font-path('windsor1-webfont.eot'));
	src: url(font-path('windsor1-webfont.eot?#iefix') + "?iefix") format('embedded-opentype'), 
		url(font-path('windsor1-webfont.woff')) format('woff'), 
		url(font-path('windsor1-webfont.ttf')) format('truetype'), 
		url(font-path('windsor1-webfont.svg')) format('svg')
	}

@font-face {
	font-family: 'Pacifico';    
	src: url(font-path('Pacifico-webfont.eot'));
	src: url(font-path('Pacifico-webfont.eot?#iefix') + "?iefix") format('embedded-opentype'), 
		url(font-path('Pacifico-webfont.woff')) format('woff'), 
		url(font-path('Pacifico-webfont.ttf')) format('truetype'), 
		url(font-path('Pacifico-webfont.svg')) format('svg')
	}

ul.asteriskList {
	li:before {
		content: "*";
		}
	}
 

blockquote {
	    padding: 20px 0 0 0;
	    overflow: hidden; /* clearfix alternative */
	    line-height: 150%;
	    border-left: none;

	}
	blockquote:before {
	    display: block;
	    float: left;
	    margin: 0 15px 0 0;
	    font-size: 150%; /* let's make it a big quote! */
	    content: "*"; 
	    text-shadow: 0 1px 1px #909090;
	}
	blockquote:after {
	    content: none;
	}



.control-label {
	border-bottom: 1px dotted #0088cc;
	}

.comingSoon {
	color: gray;
	
	}


.accordion-inner {
	    background-color: white;
	    box-shadow: 0px 0px 1px rgb(255, 255, 255);
	/*    border-top: 1px solid rgb(214, 214, 214);	*/
	/*    border-bottom: 1px solid rgb(214, 214, 214); */
	    padding-left: 10px;
	}

.quotraBox span4 {
		text-align: center;
		}

.linkLabel {
		font-size: 1em;
		font-family: Pacifico, Georgia, Serif;
		font-style: italic;
		text-align: center;
		text-shadow: 0px 1px 0px #ffffff;
		}

.fqTypeface {
	font-family: windsor1;
	-webkit-font-smoothing: always;
	font-smooth:always;
	}

body#splashPage {
	padding-top: 5%;
	background-color: black;
	}

body#aboutPage {
	padding-top: 5%;
	}

body#product {
	padding-top: 60px;
	padding-bottom: 40px;
	}


.fqEmphasis {
	color:red;
	}

.fqAsterisk {
	font-family: windsor1, "Times New Roman", Serif;
	color:rgb(0, 176, 240);
	font-size: 125%;
	display: inline;
	vertical-align: -25%;
	}

.form-actions {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: inherit;
    border-top: 0px solid rgb(229, 229, 229);
    
    }


#splashPage h1 {
	font-size: 5em;
	line-height: 1em;
	} 

#splashPage h3 {
	font-size: 3em;
	} 

#splashPage h4 {
	font-size: 2em;
	} 

#splashTitleArea {
	padding: 1.5em;
	text-align: center;
	color: white;
	} 

#splashTitleArea {
	font-family: windsor1, "Times New Roman", Serif;
	line-height: 1em;
	display: inline;
	letter-spacing: -.02em;
	}
#splashPage {
	a:link {color:white;
		border-bottom: 1px dotted rgb(214, 214, 214);
		}
	a:visited {color:grey;}
	a:hover {color:rgb(0, 176, 240);
		}
	a:active {color:#0000FF;}
	}

#splashRegister {
	text-align: center;
	margin: 10%;
	border-radius: 5%;
	padding: 20px;
	background-color: white;
	color: black;
	}

.butWereAfraid {
	font-family: "Times New Roman", Georgia, Sans-serif;
	font-size: 2em;
	font-style: italic;
	line-height: 1em;
	display: inline;
	} 

.quotraBox {
	a:link {color:lightgray;
		border-bottom: 1px dotted rgb(214, 214, 214);
		}
	a:visited {color:grey;}
	a:hover {color:rgb(0, 176, 240);
		}
	a:active {color:#0000FF;}
	}


